/* Header */
.header {
  @apply fixed w-full z-10 top-0;
}

.headerActive {
  @apply bg-white text-slate-800 shadow;
}

.navContent {
  @apply w-full flex-grow lg:flex lg:items-center lg:w-auto mt-2 lg:mt-0 bg-transparent z-20;
}

.progress {
  @apply h-1 z-20 top-0;
  background: linear-gradient(to right, teal, var(--scroll), transparent 0);
}

.navToggle {
  @apply flex items-center px-3 py-2 border rounded appearance-none focus:outline-none;
  @apply text-teal-600 border-teal-600;
}

.navMenu {
  @apply list-none p-0 lg:flex justify-end flex-1 items-center;
}

.navItem {
  @apply md:mr-3 py-2 px-4 md:p-0;
}

.navItemLink {
  @apply md:inline-block block no-underline hover:underline py-2 px-4 hover:text-teal-600;
}

.navItemActive {
  @apply text-teal-700 dark:text-teal-500 hover:text-gray-400 font-bold;
}
.headerActive .navItemActive {
  @apply dark:text-teal-700;
}

.navContainer {
  @apply w-full md:max-w-4xl mx-auto flex flex-wrap items-center justify-between mt-0 py-3;
}

.navBrand {
  @apply pl-4;
}

.navBrand a {
  @apply text-inherit no-underline hover:no-underline font-extrabold text-xl;
}

.darkModeTooltip {
  @apply bg-black/75 text-white p-2 rounded absolute top-full mt-2 left-1/2 transform -translate-x-1/2 w-max;
  &::before {
  @apply content-['▲'] absolute -top-[1.01rem] block left-1/2 transform scale-x-[125%] -translate-x-[.25em] text-black/75;
  }
  @apply animate-pulse;
  animation-iteration-count: 2;
  animation-duration: 600ms;
}

.skipToContent {
  @apply transition-opacity duration-300 ease-in-out opacity-0;
  @apply text-black bg-white p-2 absolute left-0 top-0;
  &:focus {
    @apply opacity-100;
  }
}

/* Footer */
.footer {
  @apply flex flex-1 py-6 bg-white text-neutral-900 justify-center items-center;
  box-shadow: 0 -1px 2px 0 var(--color-neutral-200);
}

/* Page */
.main {
  @apply min-h-screen py-16 flex flex-1 flex-col justify-center items-center;
}
