@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-100 dark:bg-black text-slate-800 dark:text-white;
  @apply font-sans leading-normal tracking-normal;
  @apply transition-all duration-300 ease-in-out relative;
  > * {
    @apply transition-all duration-300 ease-in-out;
  }
}

@layer utilities {
  .float-desktop {
    @apply mb-4 ml-6 float-right;
  }
}

.dark .prose {
  --tw-prose-headings: var(--color-white);
  --tw-prose-quotes: var(--color-neutral-400);
  --tw-prose-bold: var(--color-neutral-400);
  --tw-prose-links: var(--color-neutral-400);
  --tw-prose-code: var(--color-neutral-400);
  color: var(--color-white);
}

.prose pre {
  @apply p-0;
}

.single-line {
  @apply flex flex-row divide-x-4 divide-transparent;
  > * {
    @apply flex-grow-0;
  }
  img {
    @apply inline-block;
  }
}

.katex .vlist > span {
  display: inherit;
}

#readable_content {
  & > h1,
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  {
    @apply first-of-type:clear-both;
  }
}
